@media screen and (max-width: 1085px) {
	main {
		padding: 1em 0;

		& section.indicadores {
			max-width: 100%;
			width: 500px;
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 540px) {
	.header > .cont-limite {
		.logo {
			.logo__icono {
				height: 35px;
				margin-right: .5em;
			}

			.logo__texto {
				font-size: 1.6em;
			}
		}

		.botones {
			.boton {
				height: 40px;
				font-size: 1.5em;
			}
		}
	}


	main {

		section.indicadores {
			max-width: 100%;
			width: 500px;
			margin-right: 0;
			margin-bottom: 1em;
	
			article.bloque {
				font-size: 1.05em;

				div.avatar {
					width: 36%;
					padding-top: 5px;
		
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					flex: auto;
		
					img.img {
						height: 45px;
					}
				}

				div.macador {
					font-size: 1.05em;
					margin: 0 .7em;
					font-weight: 500;
				}
			}
	
			& article.mensaje {
				font-size: 1em;
			}
		}

		section.cuadricula > button.casilla {
			font-size: 18vw;
		}
	}

	.footer {
		font-size: 0.9em;
	}
}